.top-page-content {
  margin: 30px 100px; /* サイドの余白 */
  /* margin-bottom: 50px; */
}
.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 自動でカラムを調整 */
  gap: 20px; /* グリッドアイテム間のスペース */
}